{% extends 'menu.html' %}

{% block title %}Home {% endblock %}

{% block extracss %}
    <link href="../static/style.css" rel="stylesheet">
{% endblock %}

{% block content %}
    </br>
    {% block table %}
        <h3> שלום {{ session.username }} </h3>
    <table class="styled-table">
    <thed>
        <tr>
            <th>שם הלקוח</th>
            <th>תיאור המשימה</th>
            <th>זמן ליעד</th>
            <th>מנהל דיווח</th>
        </tr>

    </thed>
    {%  for description in tasks %}
    <p> {{ description.description }}</p>
    {%  endfor %}

    </table>

{% endblock table %}
{% endblock content %}